################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/WebGrease.1.5.2
/.vs/HRIS-ePAccount/v15/Server/sqlite3
/.vs/HRIS-ePAccount/v15
/.vs/config
/HRIS-ePAccount/obj
/HRIS-ePAccount/Properties/PublishProfiles
/HRIS-ePAccount/UploadedFile
/.vs/HRIS-ePAccount/config/applicationhost.config
/.vs/HRIS-ePAccount/copilot-chat/eaebba27/sessions/f7b9d23c-062c-4b9e-96f1-5b327064b66f
/.vs/HRIS-ePAccount/CopilotIndices/18.0.988.22099
/.vs/HRIS-ePAccount/FileContentIndex
/.vs/HRIS-ePAccount/v18
