################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/WebGrease.1.5.2
/.vs/HRIS-ePAccount/v15/Server/sqlite3
/.vs/HRIS-ePAccount/v15
/.vs/config
/HRIS-ePAccount/obj
/HRIS-ePAccount/Properties/PublishProfiles
/HRIS-ePAccount/UploadedFile
