@*
    ****Page Development assigned to:   Jorge Rustom Villanueva.
    ****Page Development started date:  04/28/2020
    ****Page Purpose and Description:   This page is allow to auto generate remittance ledger.
*@
@{
    ViewBag.Title = "Index";
}
<script src="~/Angular/ng-cEmplTaxUpd.js?v=2"></script>
<div class="modal fade" id="modal_generating_tax">
    <div class="modal-dialog text-center">
        @*<span class="fa fa-spinner fa-spin fa-3x text-white"></span>*@
        <div class="spiner-example">
            <div class="sk-spinner sk-spinner-cube-grid">
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
            </div>
        </div>
        <div class="row text-center">
            <span style="color:white;padding:10px 20px 10px 20px;border:0.5px solid aquamarine;border-radius:5px 5px 5px 5px;background-image: linear-gradient(329deg, #268672 50%, #39a28c 50%);">
                <b>
                    GENERATING EMPLOYEE/S TAX RATE PLEASE WAIT..
                </b>
            </span>
        </div>
    </div>
</div>
<div class="row" style="padding:50px;" ng-app="ng_HRD_App" ng-controller="cEmplTaxUpd_ctrlr">
    <div class="col-lg-12" style="padding:5% 5% 5% 5%;border: 1px solid gray;border-radius:10px;background-color:lightgray;">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="background-color:#507CD1;color:white;">
                <div class="row" style="margin-top:-5px;">
                    <div class="col-lg-12">
                        <h2 style="font-weight:bold;">Employee Tax Rate Generation..</h2>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-lg-6">
                        <span style="float:left;padding-top:7px;">PAYROLL YEAR:</span>
                        <div style="width:70%;float:right;">
                            <select class="form-control" id="ddl_payroll_year" ng-model="ddl_payroll_year">
                                <option ng-repeat="yr in year" value="{{yr.year}}">{{yr.year}}</option>
                            </select>
                            <label id="lbl_ddl_payroll_year_req" class="lbl_required"></label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-lg-12">
                        <span style="float:left;padding-top:7px;">EMPLOYMENT TYPE:</span>
                        <div style="width:85.5%;float:right;">
                            <select class="form-control" id="ddl_employment_type" ng-model="ddl_employment_type">
                                <option value="">--Select Here--</option>
                                <option ng-repeat="empl_type in employment_type_data" value="{{empl_type.employment_type}}">{{empl_type.employment_type_descr}}</option>
                                <option value="NE">Non-employees</option>
                            </select>
                            <label id="lbl_ddl_employment_type_req" class="lbl_required"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-footer">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <button class="btn btn-primary" id="btn_generate_tax" ng-click="btn_generate_tax_click()">GENERATE TAX RATE</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

